<nav class="navbar navbar-expand-sm bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNav" aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page"
           href="{% url 'my_app:index' %}">Main</a>
        <a class="nav-link" href="{% url 'my_app:models' %}">Models list</a>
      </div>
    </div>
  </div>
</nav>