{% extends 'blog/base.html' %}

{% block content %}
    <div class="container">
        <h1>Contact us</h1>
        <form method="post" class="mb-3" action="{% url 'blog:contacts' %}">
            {{ form.non_field_errors }}
            {% csrf_token %}

<!--   possible option         {{ form.as_p }}-->

<!--    -possible option-->
            {% for field in form %}
            <div class="mb-3">
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
            </div>
          {% endfor %}


<!--possible option-->
<!--            <input type="text" class="form-control" name="name"-->
<!--                   placeholder="Your name">-->
<!--            <p></p>-->
<!--            <input type="email" class="form-control" name="email"-->
<!--                   placeholder="e-mail">-->
<!--            <p></p>-->
<!--            <input type="text" class="form-control" name="subject"-->
<!--                   placeholder="subject">-->
<!--            <p></p>-->
<!--            <textarea class="form-control" name="message" rows="3"-->
<!--                      placeholder="message"></textarea>-->
<!--            <p></p>-->
            <button type="submit" class="btn btn-primary">Send</button>
        </form>
    </div>


{% endblock %}