{% extends 'blog/base.html' %}

{% block content %}
<main class="container py-4">
   <div class="card shadow-sm mb-5">
       <div class="card-body">
           <h1 class="card-title">{{ post.title }}</h1>
           <p class="card-subtitle mb-2 text-muted">
              <a href="{% url 'blog:author_detail' post.author.id %}">{{ post.author }}</a>
               posted @ {{ post.created_at }}
           </p>
           <p class="card-subtitle mb-2 text-muted">
               Category: {{ post.category.title }}
           </p>
           <p class="card-subtitle mb-2 text-muted">
              {% for tag in post.tags.all %}
                   {{ tag.title }}{% if not forloop.last %}, {% endif %}
               {% endfor %}
           </p>
           <div class="mt-4 d-flex py-0">
               <p>👁️{{ post.annotaded_views }}</p>
           </div>
           <div class="mt-4 d-flex py-0">
               {% if post.image %}
                   <img src="{{ post.image.url }}" alt="post image"
                        class="img-fluid" width="300px">
               {% else %}
                   <div class="bg-light d-flex align-items-center justify-content-center" 
                        style="height: 50px">
                       <span class="text-muted">No image available</span>
                   </div>
               {% endif %}
           </div>

           <p class="card-text mt-3">
               {{ post.content }}
           </p>

           <div class="mt-4 d-flex gap-2">
               <a href="{% url 'blog:post_list' %}" class="btn btn-secondary">
                   All posts
               </a>
               <a href="{% url 'blog:post_delete' post.id %}" class="btn btn-danger">
                   Delete Post
               </a>
           </div>
       </div>
   </div>

    <div class="card shadow-sm">
        <div class="card-body">
            <button class="btn btn-primary" type="button"
                    onclick="location.href='{% url 'blog:post_edit' post.id %}'">
                Edit Post
            </button>
        </div>
    </div>
    
    <div class="card shadow-sm mt-4">
        {% include 'blog/comment_create.html' %}
        <div class="card-body">
            <h2 class="card-title">Comments</h2>
            {% for comment in post.comments.all %}
                <div class="card shadow-sm mb-3">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-start">
                            <div class="flex-grow-1">
                                <p class="card-subtitle mb-2 text-muted">
                                    {{ comment.author }} @ {{ comment.created_at }}
                                </p>
                                <h4 class="card-text">{{ comment.content }}</h4>
                            </div>
                            <div class="ms-2">
                                <a href="{% url 'blog:comment_delete' comment.id %}" 
                                   class="btn btn-outline-danger btn-sm">
                                    Delete
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% empty %}
                <p>No comments yet</p>
            {% endfor %}
        </div>
    </div>

</main>
{% endblock %}